# Loki CYD Theme Configuration
# Theme: Cap'n Plndr

name = Cap'n Plndr
sprite_size = 175
anim_interval_min = 7000
anim_interval_max = 15000
comment_interval_min = 10000
comment_interval_max = 20000
animation_mode = random
