# Loki CYD Theme Configuration
# Theme: Sir Haxalot

name = Sir Haxalot
sprite_size = 175
anim_interval_min = 3000
anim_interval_max = 6000
comment_interval_min = 15000
comment_interval_max = 30000
animation_mode = sequential
