# Loki CYD Theme Configuration
# Theme: ClownSec

name = ClownSec
sprite_size = 175
anim_interval_min = 5000
anim_interval_max = 15000
comment_interval_min = 8000
comment_interval_max = 20000
animation_mode = random
