# Loki CYD Theme Configuration
# Theme: LOKI

name = LOKI
sprite_size = 175
anim_interval_min = 1500
anim_interval_max = 2000
comment_interval_min = 15000
comment_interval_max = 30000
animation_mode = sequential
