# Loki CYD Theme Configuration
# Theme: BJORN

name = BJORN
sprite_size = 175
anim_interval_min = 2000
anim_interval_max = 8000
comment_interval_min = 15000
comment_interval_max = 30000
animation_mode = random
